nav {
  width: 100%;
  height: 10vh;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--inter);
  font-weight: var(--inter-regular);
}

nav .menu-open {
  margin: 10px;
}

nav .hide-menu {
  display: none;
}
nav .show-menu {
  position: absolute;
  padding: 20px;
  font-size: 20px;
  right: 0;
  top: 0;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

nav .trans {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
  height: 100vh;
}

nav .close-icon {
  text-align: right;
  height: 20%;
}

nav ul {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav ul {
  list-style-type: none;
}

nav ul > li {
  cursor: pointer;
}

nav ul > li:hover {
  color: var(--soft-orange);
}

@media only screen and (min-width: 1200px) {
  nav {
    height: 15vh;
  }
  nav .trans {
    display: none !important;
  }
  nav .hide-menu,
  nav .show-menu {
    display: flex;
    width: 50%;
  }
  nav .close-icon,
  nav .menu-open {
    display: none !important;
  }
  nav ul {
    flex-direction: row;
    color: var(--dark-grayish-blue);
    width: 100%;
  }
}
